{% extends "base.html" %}
{% load static %}
{% block title %}| Digital Sign{% endblock title %}
{% block css %}

{% endblock css %}

{% block content %}
<div class="content mb-5">
    <!-- Navbar & Hero Start -->
    <div class="container-fluid px-0 px-lg-4 py-lg-0 wow fadeInLeft" data-wow-delay="0.2s"
        style="background-image: url('{% static 'media/digital_sign-header.png' %}'); background-size: cover; background-position: center; height: 50vh;">
        <div class="container">
            <div class="row">
                <div
                    class="col-lg-12 col-md-12 col-sm-12 mt-5 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-white text-center mt-5 wow fadeInRight" data-wow-delay="0.4s">Digital Signature</h1>
                    <p class="text-white text-center mt-3 wow fadeInDown" data-wow-delay="0.5s">Our comprehensive range
                        of products empowers you to optimize operations, <br> enhance customer experiences, and drive
                        innovation like never before.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- About Digital Sign start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInLeft" data-wow-delay="0.6s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/product-home.png' %}" alt="Image" class="position-relative col-sm-12"
                            style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
                    <h1 class="font-poppins fw-bold text-dark wow fadeInUp" data-wow-delay="0.7s">
                        Digital Signature 1</h1>
                    <p class="font-poppins text-secondary wow fadeInRight" data-wow-delay="0.8s">SAP has played a key
                        role in driving innovation and
                        competitiveness for companies in India, enabling them to thrive in the digital age.
                        ZipL, is one of the fastest-growing technology company with a significant presence in the SAP
                        ecosystem, has earned a reputation for delivering complex and innovative solutions for a diverse
                        range of clients, including large enterprises and startups.
                    </p>
                    <p class="font-poppins text-secondary wow fadeInRight" data-wow-delay="0.8s">It offers customized
                        ERP solutions, high-quality IoT
                        solutions and integration of these systems with mobile apps. It also offers high-quality SAP
                        solutions and services. </p>
                    <p class="font-poppins text-secondary wow fadeInRight" data-wow-delay="0.8s">
                        ZENCON also has Manufacturing Streamlining arm which works on best Manufacturing practices,
                        inventory reduction, shop floor automation, implement TPM and Lean Practices to improve
                        productivity,
                        reduce cycle time, cost reduction as well as quality and delivery improvements
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h1 class="font-poppins fw-bold text-dark wow fadeInRight" data-wow-delay="0.3s">Digital Signature 2
                    </h1>
                    <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">Zencon Infotech Pvt.
                        Ltd. is a professionally managed Indian
                        SAP consulting firm founded in 2016, by a team of experts from various business domains. Zencon
                        has been delivering innovative solutions to businesses of all sizes to help them accelerate
                        their growth through digital transformation.</p>
                    <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">Our team brings decades
                        of industry experience in SAP
                        consulting and IT solutions, which enables us to deliver smarter and innovative solutions that
                        address the unique needs of each business.
                        ZIPL believes in bridging the gap between the manufacturing processes and Information Technology
                        to bring a complete Business Transformation. Thanks to our Certified knowledgeable teams and
                        extensive hands-on experience we use a blend of tools from TPM, Six Sigma, Lean Manufacturing,
                        Toyota Production Systems, Prince2, PMP, ITIL, ISTQB and More. We build solutions that cater to
                        removing the root cause of the situation. We find this to be our Unique Selling Point and has
                        helped us understand our customers better.</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInRight" data-wow-delay="0.5s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/digital-sign.png' %}" alt="About Us Image"
                            class="position-relative col-sm-12" style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Digital Sign end -->

    <!-- case study start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-5 mb-5">
                <h1 class="font-poppins text-center fw-bold text-dark wow fadeInRight" data-wow-delay="0.3s">Case Studies</h1>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="row">
                        <p class="font-poppins fw-bold fs-4 wow fadeInLeft" data-wow-delay="0.2s">
                            Improving Supply Chain Management with SAP Solutions
                        </p>
                        <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">Lorem ipsum dolor
                            sit
                            amet consectetur. Sit accumsan eget diam aliquam quis eu libero. Aliquet facilisis faucibus
                            gravida pharetra enim cras risus eget scelerisque.
                        </p>
                        <div class="d-flex justify-content-start align-items-start">
                            <button class="btn btn-outline-success rounded-pill wow fadeInLeft"
                                data-wow-delay="0.3s">View Case
                                Study</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInRight" data-wow-delay="0.5s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/case-study-1.png' %}" alt="Case Study Image"
                            class="position-relative col-sm-12" style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInLeft" data-wow-delay="0.6s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/case-study-2.png' %}" alt="Case study Image"
                            class="position-relative col-sm-12" style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="row">
                        <p class="font-poppins fw-bold fs-4 wow fadeInLeft" data-wow-delay="0.2s">
                            Improving Supply Chain Management with SAP Solutions
                        </p>
                        <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">Lorem ipsum dolor
                            sit
                            amet consectetur. Sit accumsan eget diam aliquam quis eu libero. Aliquet facilisis faucibus
                            gravida pharetra enim cras risus eget scelerisque.
                        </p>
                        <div class="d-flex justify-content-start align-items-start">
                            <button class="btn btn-outline-success rounded-pill wow fadeInLeft"
                                data-wow-delay="0.3s">View Case
                                Study</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- case study end -->

    <!-- contact start -->
    <div class="container position-relative py-5">
        <img src="{% static 'media/blue-line.png' %}" class="img-fluid w-100 wow fadeInRight" data-wow-delay="0.3s"
            alt="Background Image">
        <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <h2 class="text-white fw-bold font-poppins mb-4 wow fadeInLeft" data-wow-delay="0.3s">
                        Take the first step towards digital <br> transformation with our SAP solutions
                    </h2>
                    <p class="text-white font-poppins mb-4 wow fadeInRight" data-wow-delay="0.3s">
                        Contact us now to learn how SAP can help your business
                    </p>
                    <a class="btn btn-success rounded-pill py-2 px-4 px-md-5 wow fadeInLeft" data-wow-delay="0.3s"
                        href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- contact end -->
     
    <!-- Back to Top -->
    <a href="#" class="btn btn-success btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

</div>
{% endblock content %}

{% block js %}

{% endblock js %}