{% extends "base.html" %}
{% load static %}
{% block title %}| Products{% endblock title %}
{% block css %}

{% endblock css %}

{% block content %}
<div class="content mb-5">
    <!-- Navbar & Hero Start -->
    <div class="container-fluid px-0 px-lg-4 py-lg-0 wow fadeInLeft" data-wow-delay="0.2s"
        style="background-image: url('{% static 'media/product-header.png' %}'); background-size: cover; background-position: center; height: 50vh; margin-bottom: 60vh;">
        <div class="container">
            <div class="row">
                <div
                    class="col-lg-12 col-md-12 col-sm-12 mt-5 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-white text-center mt-5 wow fadeInRight" data-wow-delay="0.4s">Experience the Perfect
                        Blend of <br> Technology and Business Excellence</h1>
                    <p class="text-white text-center mt-3 wow fadeInDown" data-wow-delay="0.5s">Our comprehensive range
                        of products empowers you to optimize operations, <br> enhance customer experiences, and drive
                        innovation like never before.
                    </p>
                    <img src="{% static 'media/product-home.png' %}" alt="Product images" class="img-fluid wow fadeInUp"
                        data-wow-delay="0.6s">
                    <p class="text-secondary text-center mt-3 wow fadeInDown" data-wow-delay="0.5s">Since inception
                        Zencon has always built products focusing on ease of operation for the End Users. Our Belief is
                        to build the Software that reduces the Manual/Human Intervention and provides an End to End
                        support to our
                        Clients. This seeps in every development approach we undertake and make sure the Business
                        Concept is totally
                        transferred into Design to make a sensible sellable product.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->
    <!-- cards start -->
    <div class="container-fluid">
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="card h-100 border-1 shadow-sm" style="border-color: #5575EC;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'media/pro-1.png' %}" alt="" class="me-3">
                                </div>
                                <div>
                                    <h5 class="card-title text-dark mb-2 text-wrap font-poppins">
                                        Digital Signature Tool
                                    </h5>
                                    <p class="card-text mb-3 text-wrap font-poppins text-secondary">Customer
                                        satisfaction is our top
                                        priority. We work closely with our clients to understand their unique needs
                                        and
                                        provide solutions that align with their business goals.
                                    </p>
                                </div>
                                <a href="#" class="text-success fw-bold">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="card h-100 border-1 shadow-sm" style="border-color: #5575EC;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'media/pro-2.png' %}" alt="" class="me-3">
                                </div>
                                <div>
                                    <h5 class="card-title text-dark mb-2 text-wrap font-poppins">
                                        Collaboration Portals
                                    </h5>
                                    <p class="card-text mb-3 text-wrap font-poppins text-secondary">Customer
                                        satisfaction is our top
                                        priority. We work closely with our clients to understand their unique needs
                                        and
                                        provide solutions that align with their business goals.
                                    </p>
                                </div>
                                <a href="#" class="text-success fw-bold">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="card h-100 border-1 shadow-sm" style="border-color: #5575EC;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'media/pro-3.png' %}" alt="" class="me-3">
                                </div>
                                <div>
                                    <h5 class="card-title text-dark mb-2 text-wrap font-poppins">
                                        Document Parsing
                                    </h5>
                                    <p class="card-text mb-3 text-wrap font-poppins text-secondary">Customer
                                        satisfaction is our top
                                        priority. We work closely with our clients to understand their unique needs
                                        and
                                        provide solutions that align with their business goals.
                                    </p>
                                </div>
                                <a href="#" class="text-success fw-bold">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="card h-100 border-1 shadow-sm" style="border-color: #5575EC;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'media/pro-4.png' %}" alt="" class="me-3">
                                </div>
                                <div>
                                    <h5 class="card-title text-dark mb-2 text-wrap font-poppins">
                                        E-WAY Bill Tool
                                    </h5>
                                    <p class="card-text mb-3 text-wrap font-poppins text-secondary">Customer
                                        satisfaction is our top
                                        priority. We work closely with our clients to understand their unique needs
                                        and
                                        provide solutions that align with their business goals.
                                    </p>
                                </div>
                                <a href="#" class="text-success fw-bold">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="card h-100 border-1 shadow-sm" style="border-color: #5575EC;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'media/pro-5.png' %}" alt="" class="me-3">
                                </div>
                                <div>
                                    <h5 class="card-title text-dark mb-2 text-wrap font-poppins">
                                        Appointment System
                                    </h5>
                                    <p class="card-text mb-3 text-wrap font-poppins text-secondary">Customer
                                        satisfaction is our top
                                        priority. We work closely with our clients to understand their unique needs
                                        and
                                        provide solutions that align with their business goals.
                                    </p>
                                </div>
                                <a href="#" class="text-success fw-bold">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 wow fadeInRight" data-wow-delay="0.5s">
                        <div class="card h-100 border-1 shadow-sm" style="border-color: #5575EC;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'media/pro-6.png' %}" alt="" class="me-3">
                                </div>
                                <div>
                                    <h5 class="card-title text-dark mb-2 text-wrap font-poppins">
                                        Attendance System
                                    </h5>
                                    <p class="card-text mb-3 text-wrap font-poppins text-secondary">Customer
                                        satisfaction is our top
                                        priority. We work closely with our clients to understand their unique needs
                                        and
                                        provide solutions that align with their business goals.
                                    </p>
                                </div>
                                <a href="#" class="text-success fw-bold">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="card h-100 border-1 shadow-sm" style="border-color: #5575EC;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'media/pro-7.png' %}" alt="" class="me-3">
                                </div>
                                <div>
                                    <h5 class="card-title text-dark mb-2 text-wrap font-poppins">
                                        Smart Invoice
                                    </h5>
                                    <p class="card-text mb-3 text-wrap font-poppins text-secondary">Customer
                                        satisfaction is our top
                                        priority. We work closely with our clients to understand their unique needs
                                        and
                                        provide solutions that align with their business goals.
                                    </p>
                                </div>
                                <a href="#" class="text-success fw-bold">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cards end -->
    <!-- contact start -->
    <div class="container position-relative py-5">
        <img src="{% static 'media/blue-line.png' %}" class="img-fluid w-100 wow fadeInRight" data-wow-delay="0.3s"
            alt="Background Image">
        <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <h2 class="text-white fw-bold font-poppins mb-4 wow fadeInLeft" data-wow-delay="0.3s">
                        Take the first step towards digital <br> transformation with our SAP solutions
                    </h2>
                    <p class="text-white font-poppins mb-4 wow fadeInRight" data-wow-delay="0.3s">
                        Contact us now to learn how SAP can help your business
                    </p>
                    <a class="btn btn-success rounded-pill py-2 px-4 px-md-5 wow fadeInLeft" data-wow-delay="0.3s"
                        href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- contact end -->
    <!-- Testimonial Start -->
    <div class="container-fluid" style="background: linear-gradient(to right, #FAFCFE 70%, #DEEBF1 30%);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="heading fs-6 fw-bold font-poppins text-uppercase mt-5 mb-5"
                        style="color: #585C5F; letter-spacing: 5px;">
                        <p>Testimonials</p>
                    </div>
                    <div class="title pt-5 text-start font-poppins  wow fadeInL" data-wow-delay="0.2s">
                        <h1 class="font-poppins fw-bold"
                            style="background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                            What our clients say</h1>
                        <p class="font-poppins" style="color: #7A878F;">
                            Zencon has successfully worked with over 50+ <br>
                            clients across various industries, including <br>
                            manufacturing, agrotech, and finance.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-5 wow fadeInRight" data-wow-delay="0.2s">
                    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container bg-light font-poppins p-5 wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="d-flex align-items-center mb-4">
                                        <img src="{% static 'media/profile.png' %}" class="img-fluid rounded-circle"
                                            alt="" style="width: 80px; height: 80px; object-fit: cover;">
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Mi fames id enim sed enim ut magnis.
                                        Ipsum nibh
                                        felis volutpat id tristique interdum. Rutrum felis donec nibh tincidunt dui
                                        faucibus dictum.
                                        Feugiat viverra faucibus id pellentesque lorem. Dis blandit consequat erat
                                        viverra vitae in
                                        dictumst vitae. Fusce sed dui purus urna. Gravida elit commodo nulla
                                        sagittis. Bibendum nisl
                                        sed urna neque. Aliquam eget faucibus
                                    </p>
                                    <h5 class="mb-1 mt-5">John Doe</h5>
                                    <p class="text-muted mb-0">CEO, XYZ Technologies</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container bg-light font-poppins p-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <img src="{% static 'media/team-2.png' %}" class="img-fluid rounded-circle"
                                            alt="" style="width: 80px; height: 80px; object-fit: cover;">
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Mi fames id enim sed enim ut magnis.
                                        Ipsum nibh
                                        felis volutpat id tristique interdum. Rutrum felis donec nibh tincidunt dui
                                        faucibus dictum.
                                        Feugiat viverra faucibus id pellentesque lorem. Dis blandit consequat erat
                                        viverra vitae in
                                        dictumst vitae. Fusce sed dui purus urna. Gravida elit commodo nulla
                                        sagittis. Bibendum nisl
                                        sed urna neque. Aliquam eget faucibus
                                    </p>
                                    <h5 class="mb-1 mt-5">Ralph Edwards</h5>
                                    <p class="text-muted mb-0">CTO, ABC Corporation</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container bg-light font-poppins p-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <img src="{% static 'media/team-1.png' %}" class="img-fluid rounded-circle"
                                            alt="" style="width: 80px; height: 80px; object-fit: cover;">
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Mi fames id enim sed enim ut magnis.
                                        Ipsum nibh
                                        felis volutpat id tristique interdum. Rutrum felis donec nibh tincidunt dui
                                        faucibus dictum.
                                        Feugiat viverra faucibus id pellentesque lorem. Dis blandit consequat erat
                                        viverra vitae in
                                        dictumst vitae. Fusce sed dui purus urna. Gravida elit commodo nulla
                                        sagittis. Bibendum nisl
                                        sed urna neque. Aliquam eget faucibus
                                    </p>
                                    <h5 class="mb-1 mt-5">Arlene McCoy</h5>
                                    <p class="text-muted mb-0">CFO, DEF Industries</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-success rounded-circle me-2" style="width: 40px; height: 40px;"
                            type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="btn btn-success rounded-circle" style="width: 40px; height: 40px;" type="button"
                            data-bs-target="#testimonialCarousel" data-bs-slide="next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-success btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}