{% extends "base.html" %}
{% load static %}
{% block title %}| S/4 HANA{% endblock title %}
{% block css %}

{% endblock css %}

{% block content %}
<div class="content">
    <!-- Navbar & Hero Start -->
    <div class="container-fluid px-0 px-lg-4 py-lg-0 wow fadeInLeft" data-wow-delay="0.2s"
        style="background-image: url('{% static 'media/service-2-header1.png' %}'); background-size: cover; background-position: center; height: 50vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
                    <h1 class="text-white text-center mt-5 wow fadeInRight" data-wow-delay="0.4s">S/4 HANA
                    </h1>
                    <p class="text-white text-center mt-3 wow fadeInDown" data-wow-delay="0.5s">SAP S/4HANA is the most
                        complete and advanced ERP platform. This platform is the successor to the <br> successful line
                        of ERP
                        software featuring SAP R/3 and SAP ECC, recognized worldwide as the leading and <br>
                        most-respected
                        business management solutions in the market.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->
    <!-- About SAP start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-lg-6 col-md-12 col-sm-12 py-5 mt-5">
                    <p class="text-uppercase font-poppins fw-bold text-secondary wow fadeInLeft" data-wow-delay="0.2s"
                        style="letter-spacing: 5px; background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                        S/4 HANA</p>
                    <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">Zencon Infotech Pvt.
                        Ltd. is a professionally managed Indian
                        SAP consulting firm founded in 2016, by a team of experts from various business domains. Zencon
                        has been delivering innovative solutions to businesses of all sizes to help them accelerate
                        their growth through digital transformation.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInRight" data-wow-delay="0.5s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/about-1.png' %}" alt="About Us Image"
                            class="position-relative col-sm-12" style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInRight" data-wow-delay="0.5s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/about-1.png' %}" alt="About Us Image"
                            class="position-relative col-sm-12" style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 py-5 mt-5">
                    <p class="text-uppercase font-poppins fw-bold text-secondary wow fadeInLeft" data-wow-delay="0.2s"
                        style="letter-spacing: 5px; background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                        S/4 HANA</p>
                    <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">Zencon Infotech Pvt.
                        Ltd. is a professionally managed Indian
                        SAP consulting firm founded in 2016, by a team of experts from various business domains. Zencon
                        has been delivering innovative solutions to businesses of all sizes to help them accelerate
                        their growth through digital transformation.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 py-5 mt-5">
                    <p class="text-uppercase font-poppins fw-bold text-secondary wow fadeInLeft" data-wow-delay="0.2s"
                        style="letter-spacing: 5px; background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                        S/4 HANA</p>
                    <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">Zencon Infotech Pvt.
                        Ltd. is a professionally managed Indian
                        SAP consulting firm founded in 2016, by a team of experts from various business domains. Zencon
                        has been delivering innovative solutions to businesses of all sizes to help them accelerate
                        their growth through digital transformation.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInRight" data-wow-delay="0.5s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/about-1.png' %}" alt="About Us Image"
                            class="position-relative col-sm-12" style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About SAP end -->

    <!-- Contact Start -->
    <div class="container py-5">
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 p-5 d-flex justify-content-between align-items-center"
                style="background: linear-gradient(to right, #101720, #043172, #07172F); border-radius: 15px;">
                <div class="text-wrap">
                    <h1 class="text-white">Interested in working with us?</h1>
                </div>
                <div class="nav-btn">
                    <a href="{% url 'contact-page' %}"
                        class="btn btn-light rounded-pill text-success py-1 ms-3 flex-shrink-0">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-success btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

</div>
{% endblock content %}

{% block js %}

{% endblock js %}