{% extends "base.html" %}
{% load static %}
{% block title %}| About{% endblock title %}
{% block css %}
<style>
    .hover-underline {
        position: relative;
        text-decoration: none;
    }

    .hover-underline::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #008738;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    .hover-underline:hover::after {
        transform: scaleX(1);
    }

    .team-heading p:hover {
        color: #008738 !important;
    }
</style>

{% endblock css %}

{% block content %}
<div class="content">
    <!-- Header Item Start -->
    <div class="container-fluid px-0 px-lg-4 py-lg-0 wow fadeInLeft" data-wow-delay="0.2s"
        style="background-image: url('{% static 'media/about.png' %}'); background-size: cover; background-position: center; height: 50vh;">
        <div class="col-lg-12 col-md-12 mt-10 col-sm-12 d-flex justify-content-center" data-wow-delay="0.2s">
            <div class="d-flex justify-content-center align-items-center col-lg-12 col-md-12 col-sm-12">
                <img class="mb-1 p-1 wow fadeInDown" data-wow-delay="0.2s" src="{% static 'media/z-logo.png' %}"
                    alt="Logo" style="height: 10%;">
                <p class="text-white p-1 mt-2 display-6 font-poppins wow fadeInUp" data-wow-delay="0.2s"
                    style="letter-spacing: 10px;">ZENCON</p>
            </div>
        </div>
    </div>
    <!-- Header Item End -->

    <!-- About Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <p class="text-uppercase font-poppins fw-bold text-secondary wow fadeInLeft" data-wow-delay="0.2s"
                        style="letter-spacing: 5px;">About
                        ZENCON</p>
                    <h1 class="font-poppins fw-bold text-secondary wow fadeInRight" data-wow-delay="0.3s"
                        style="background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                        Our Story</h1>
                    <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">Founded in 2017 by a
                        team of experienced and adept professionals, Zencon Infotech is a
                        Business-IT consulting firm that seamlessly combines business expertise with technology to
                        navigate complexities and provide comprehensive solutions. Our founders bring a wealth of
                        domain expertise, having held instrumental positions in the manufacturing and life sciences
                        industries, spanning critical supply chain functions such as planning, strategic sourcing,
                        process engineering, and production. Additionally, they have extensive IT service and
                        consulting experience from working with global brands in sectors like manufacturing,
                        automotive, steel, life sciences, consumer packaged goods, retail, and utilities.
                    </p>
                    <p class="font-poppins text-secondary wow fadeInLeft" data-wow-delay="0.4s">At Zencon, our
                        philosophy revolves around creating value by harmonizing domain
                        knowledge, enterprise technologies, and digital innovations to reimagine business
                        possibilities. Since our inception, we have been steadfastly committed to transforming small
                        and medium-sized companies by redefining ERP and delivering innovative, tailored, and
                        streamlined solutions. Our approach has enabled our clients to become more efficient,
                        simplify business operations, enhance supply chain visibility, make informed decisions, and
                        optimize return on investment.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInRight" data-wow-delay="0.5s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/about-1.png' %}" alt="About Us Image"
                            class="position-relative col-sm-12" style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5">
                    <div class="about-item position-relative wow fadeInLeft" data-wow-delay="0.6s">
                        <img src="{% static 'media/about-vector-2.png' %}" alt="Background Vector 2"
                            class="position-absolute bottom-0 start-0 w-20 mb-5 " style="z-index: 1;">
                        <img src="{% static 'media/about-2.png' %}" alt="About Us Image"
                            class="position-relative col-sm-12" style="z-index: 2;">
                        <img src="{% static 'media/about-vector-1.png' %}" alt="Background Vector 1"
                            class="position-absolute top-0 end-0 w-20" style="z-index: 1;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
                    <h1 class="font-poppins fw-bold text-secondary wow fadeInUp" data-wow-delay="0.7s"
                        style="background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                        WHAT WE DO</h1>
                    <p class="font-poppins text-secondary wow fadeInRight" data-wow-delay="0.8s">At Zencon, we pride
                        ourselves on our extensive experience in client collaboration, which has
                        enabled us to proactively develop over 50 pre-configured bespoke solutions on SAP. These
                        solutions facilitate faster implementation at reduced costs, ensuring accelerated value and
                        quicker time-to-market. With more than 6 years of successful engagements, we have earned
                        the trust and confidence of over 30 satisfied customers.
                    </p>
                    <p class="font-poppins text-secondary wow fadeInRight" data-wow-delay="0.8s">SAP S/4HANA is a
                        game-changer, revolutionizing businesses across diverse industries by
                        driving operational efficiency, innovation, and competitiveness in the digital era. Our
                        comprehensive S/4HANA solutions, ranging from assessment and revival to seamless
                        implementation, are tailored to optimize your operations for resounding success. Experience
                        enhanced efficiency, visibility, and a competitive edge through business process automation,
                        end-to-end integration, and the power of IIoT, QR Code, RFID, and Bar Code technologies.
                    </p>
                    <p class="font-poppins text-secondary wow fadeInRight" data-wow-delay="0.8s">
                        With our reliable managed services and ongoing support, you can rest assured that your SAP
                        environment will operate at peak performance. We recognize that every industry faces unique
                        challenges, and our industry-specific insights and solutions have helped customers address
                        these pain points effectively.
                    </p>
                </div>
            </div>
            <div class="row mt-5 mb-5 col-lg-12 col-md-12 col-sm-12">
                <h1 class="font-poppins fw-bold text-secondary wow fadeInRight mt-5 mb-5" data-wow-delay="0.9s"
                    style="background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                    Our Vision</h1>

                <div class="d-flex col-lg-12 col-md-12 col-sm-12 gap-5">
                    <div class="content wow fadeInUp" data-wow-delay="1s">
                        <img src="{% static 'media/vision1.png' %}" alt="logo" class="mb-1">
                        <p class="font-poppins text-secondary">
                            Our vision is to make a significant difference in the world by enabling enhanced efficiency
                            and enriching lives.
                        </p>
                    </div>
                    <div class="content wow fadeInDown" data-wow-delay="1s">
                        <img src="{% static 'media/vision2.png' %}" alt="logo" class="mb-1">
                        <p class="font-poppins text-secondary">
                            Through our innovative solutions, we empower individuals, organizations, and institutions to
                            drive economic growth, foster social advancement, and contribute to a sustainable
                            environment.
                        </p>
                    </div>
                    <div class="content wow fadeInUp" data-wow-delay="1s">
                        <img src="{% static 'media/vision3.png' %}" alt="logo" class="mb-1">
                        <p class="font-poppins text-secondary">
                            We are dedicated to creating positive impacts, ensuring that people, businesses, and
                            communities thrive and flourish, making the world a better place for all.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Our Mission Start -->
    <div class="header-carousel-item position-relative d-flex col-lg-12 col-md-12 col-sm-12"
        style="background: linear-gradient(to right, #101720, #043172, #07172F);">
        <div class="container-fluid">
            <div class="container mt-5 mb-5 p-5">
                <h1 class="text-white text-start wow fadeInUp mb-5" data-wow-delay="0.5s">Our Mission</h1>
                <p class="text-white text-start wow fadeInRight" data-wow-delay="0.6s">To be the beacon of digital
                    transformation**, guiding small and medium businesses through
                    the complexities of SAP solutions. We envision a future where our *expert SAP consulting*
                    empowers companies to *unlock their full potential*, driving innovation and growth in an
                    ever-evolving digital landscape. Our mission is to create *lasting value* for our clients and
                    stakeholders, fostering a world where businesses of all sizes can harness the power of cutting-
                    edge technology to thrive and succeed.</p>
            </div>
        </div>
    </div>
    <!-- Our Mission End -->

    <!-- Our Team Start -->
    <div class="container-fluid">
        <div class="container mt-5 mb-5">
            <div class="row mt-5 mb-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h1 class="text-secondary text-center wow fadeInUp fw-bold mt-5 mb-5" data-wow-delay="0.5s"
                        style="background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                        Our Team</h1>
                    <div class="team-heading d-flex justify-content-center align-items-center gap-5 mb-5 fw-bold"
                        style="cursor: pointer;">
                        <p class="fs-6 font-poppins text-secondary hover-underline" onclick="showCarousel(0)"
                            style="transition: color 0.3s ease;">Leadership</p>
                        <p class="fs-6 font-poppins text-secondary hover-underline" onclick="showCarousel(1)"
                            style="transition: color 0.3s ease;">Founders</p>
                        <p class="fs-6 font-poppins text-secondary hover-underline" onclick="showCarousel(2)"
                            style="transition: color 0.3s ease;">Advisors</p>
                    </div>
                    <div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-1.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100 wow fadeInUp"
                                            data-wow-delay="0.2s" alt="Ralph Edwards" style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Ralph Edwards</h5>
                                            <p class="font-poppins">Leadership</p>
                                        </div>
                                    </div>
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-2.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100 wow fadeInDown"
                                            data-wow-delay="0.2s" alt="Ralph Edwards" style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Arlene McCoy</h5>
                                            <p class="font-poppins">Leadership</p>
                                        </div>
                                    </div>
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-3.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100 wow fadeInUp"
                                            data-wow-delay="0.2s" alt="Ralph Edwards" style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Wade Warren</h5>
                                            <p class="font-poppins">Leadership</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-1.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100" alt="Ralph Edwards"
                                            style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Ralph Edwards</h5>
                                            <p class="font-poppins">Founders</p>
                                        </div>
                                    </div>
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-2.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100" alt="Ralph Edwards"
                                            style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Arlene McCoy</h5>
                                            <p class="font-poppins">Founders</p>
                                        </div>
                                    </div>
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-3.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100" alt="Ralph Edwards"
                                            style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Wade Warren</h5>
                                            <p class="font-poppins">Founders</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-1.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100" alt="Ralph Edwards"
                                            style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Ralph Edwards</h5>
                                            <p class="font-poppins">Advisors</p>
                                        </div>
                                    </div>
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-2.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100" alt="Ralph Edwards"
                                            style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Arlene McCoy</h5>
                                            <p class="font-poppins">Advisors</p>
                                        </div>
                                    </div>
                                    <div
                                        class="text-center mx-3 d-flex flex-column justify-content-center align-items-center">
                                        <img src="{% static 'media/team-3.png' %}"
                                            class="img-fluid rounded-circle mb-3 w-100 h-100" alt="Ralph Edwards"
                                            style="object-fit: cover;">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="font-poppins fw-bold">Wade Warren</h5>
                                            <p class="font-poppins">Advisors</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">+</span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true">+</span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Team End -->

    <!-- Number Start -->
    <div class="container-fluid col-lg-12 col-md-12 col-sm-12">
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <div class="row col-lg-12 col-md-12 col-sm-12 p-5">
                <div class="col-lg-12 col-md-12 col-sm-12 p-5"
                    style="background: linear-gradient(to right, #101720, #043172, #07172F); height: 30vh; border-radius: 15px;">
                    <div class="counter-counting d-flex align-items-center justify-content-evenly text-wrap">
                        <div class="numbers">
                            <div class="count mb-2 text-center">
                                <span class="text-light fs-1 fw-bold" data-toggle="counter-up">50</span>
                                <span class="fw-bold fs-1 fw-bold text-light">+</span>
                            </div>
                            <div class="text">
                                <p class="text-light fs-6 fw-bold text-center">Projects <br> Completed</p>
                            </div>
                        </div>
                        <div class="numbers">
                            <div class="count mb-2 text-center">
                                <span class="text-light fs-1 fw-bold" data-toggle="counter-up">34</span>
                                <span class="fw-bold fs-1 fw-bold text-light">+</span>
                            </div>
                            <div class="text">
                                <p class="text-light fs-6 fw-bold text-center">Happy <br> Customers</p>
                            </div>
                        </div>
                        <div class="numbers">
                            <div class="count mb-2 text-center">
                                <span class="text-light fs-1 fw-bold" data-toggle="counter-up">52</span>
                                <span class="fw-bold fs-1 fw-bold text-light">+</span>
                            </div>
                            <div class="text">
                                <p class="text-light fs-6 fw-bold text-center">Team <br> Members</p>
                            </div>
                        </div>
                        <div class="numbers">
                            <div class="count mb-2 text-center">
                                <span class="text-light fs-1 fw-bold" data-toggle="counter-up">7</span>
                                <span class="fw-bold fs-1 fw-bold text-light">+</span>
                            </div>
                            <div class="text">
                                <p class="text-light fs-6 fw-bold text-center">Years of <br> Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Number End -->

    <!-- Testimonial Start -->
    <div class="container-fluid" style="background: linear-gradient(to right, #FAFCFE 70%, #DEEBF1 30%);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="heading fs-6 fw-bold font-poppins text-uppercase mt-5 mb-5"
                        style="color: #585C5F; letter-spacing: 5px;">
                        <p>Testimonials</p>
                    </div>
                    <div class="title pt-5 text-start font-poppins  wow fadeInL" data-wow-delay="0.2s">
                        <h1 class="font-poppins fw-bold"
                            style="background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                            What our clients say</h1>
                        <p class="font-poppins" style="color: #7A878F;">
                            Zencon has successfully worked with over 50+ <br>
                            clients across various industries, including <br>
                            manufacturing, agrotech, and finance.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-5 wow fadeInRight" data-wow-delay="0.2s">
                    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container bg-light font-poppins p-5 wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="d-flex align-items-center mb-4">
                                        <img src="{% static 'media/profile.png' %}" class="img-fluid rounded-circle"
                                            alt="" style="width: 80px; height: 80px; object-fit: cover;">
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Mi fames id enim sed enim ut magnis.
                                        Ipsum nibh
                                        felis volutpat id tristique interdum. Rutrum felis donec nibh tincidunt dui
                                        faucibus dictum.
                                        Feugiat viverra faucibus id pellentesque lorem. Dis blandit consequat erat
                                        viverra vitae in
                                        dictumst vitae. Fusce sed dui purus urna. Gravida elit commodo nulla sagittis.
                                        Bibendum nisl
                                        sed urna neque. Aliquam eget faucibus
                                    </p>
                                    <h5 class="mb-1 mt-5">John Doe</h5>
                                    <p class="text-muted mb-0">CEO, XYZ Technologies</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container bg-light font-poppins p-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <img src="{% static 'media/team-2.png' %}" class="img-fluid rounded-circle"
                                            alt="" style="width: 80px; height: 80px; object-fit: cover;">
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Mi fames id enim sed enim ut magnis.
                                        Ipsum nibh
                                        felis volutpat id tristique interdum. Rutrum felis donec nibh tincidunt dui
                                        faucibus dictum.
                                        Feugiat viverra faucibus id pellentesque lorem. Dis blandit consequat erat
                                        viverra vitae in
                                        dictumst vitae. Fusce sed dui purus urna. Gravida elit commodo nulla sagittis.
                                        Bibendum nisl
                                        sed urna neque. Aliquam eget faucibus
                                    </p>
                                    <h5 class="mb-1 mt-5">Ralph Edwards</h5>
                                    <p class="text-muted mb-0">CTO, ABC Corporation</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container bg-light font-poppins p-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <img src="{% static 'media/team-1.png' %}" class="img-fluid rounded-circle"
                                            alt="" style="width: 80px; height: 80px; object-fit: cover;">
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Mi fames id enim sed enim ut magnis.
                                        Ipsum nibh
                                        felis volutpat id tristique interdum. Rutrum felis donec nibh tincidunt dui
                                        faucibus dictum.
                                        Feugiat viverra faucibus id pellentesque lorem. Dis blandit consequat erat
                                        viverra vitae in
                                        dictumst vitae. Fusce sed dui purus urna. Gravida elit commodo nulla sagittis.
                                        Bibendum nisl
                                        sed urna neque. Aliquam eget faucibus
                                    </p>
                                    <h5 class="mb-1 mt-5">Arlene McCoy</h5>
                                    <p class="text-muted mb-0">CFO, DEF Industries</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-success rounded-circle me-2" style="width: 40px; height: 40px;"
                            type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="btn btn-success rounded-circle" style="width: 40px; height: 40px;" type="button"
                            data-bs-target="#testimonialCarousel" data-bs-slide="next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Domains and Industries Start -->
    <div
        class="container-fluid team d-flex justify-content-center align-items-center col-lg-12 col-md-12 col-sm-12 mt-5 mb-5">
        <div class="row g-5 p-5 container d-flex justify-content-center align-items-center">
            <h1 class="text-center mx-auto wow fadeInRight display-5 fw-bold" data-wow-delay="0.2s"
                style="background: linear-gradient(to right, #0A3C83, #3C7DDC); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Domains & Industries</h1>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInRight" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-4.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Automotive</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-6.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Steel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInDown" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-9.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Petrochemical</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-12.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">BFSI Retail</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInRight" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-1.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Manufacturing & distribution</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-2.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Agriculture</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInDown" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-7.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Education</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-10.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Construction</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-3.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Banking</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-5.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Logistics</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-8.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Healthcare</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img rounded">
                        <img src="{% static 'media/gallary-11.png' %}" class="img-fluid" alt="">
                        <div class="team-icon">
                            <div
                                class="img-content-hover d-flex flex-column justify-content-center align-items-center h-100">
                                <p class="text-center text-light fw-bold mb-3">Food & Beverages</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Domains and Industries End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-success btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

</div>

{% endblock content %}

{% block js %}
<script>
    function showCarousel(index) {
        $('#teamCarousel').carousel(index);
    }
</script>
{% endblock js %}